<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Check Request Form</title>
  </head>
  <body>
    <div id="app"></div>
    <iframe id="previewFrame" style="height: 0; width: 0; position: absolute;"></iframe>
    <script>
      (function () {
        // initializing css in iframe
        var frame = document.getElementById('previewFrame').contentWindow
        var link = document.createElement('link')
        link.href = 'bundle.css'
        link.rel = 'stylesheet'
        frame.document.getElementsByTagName('head')[0].appendChild(link)
      })()
    </script>
  </body>
</html>
